*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  // TODO: Insert css custom properties here
}

html {
  /* Allows user to modify browser font-size for accessibility */
  font-size: 62.5%; /* 10px / 16px */
}

body {
  // TODO: Select better font
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
