.transition-3 {
    transition: all 0.3s;
}

.transition-8 {
    transition: all 0.8s ease-in-out;
}

.header {
    @apply relative;
    @apply text-gray-700;
    @apply pt-2;
    @apply bg-transparent;
}

.header::before {
    @apply absolute;
    @apply top-0;
    @apply h-0;
    @apply w-56;
    content: "";
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 6rem solid #e2e8f0;
    border-left: 3.5rem solid transparent;
    border-right: 3.5rem solid transparent;
    z-index: -1;
}

.footer__box {
    filter: drop-shadow(0 .5rem .3rem rgba(0, 0, 0, 0.6));
}

.resume__input {
    @apply hidden;
}

.resume__page {
    @apply transition-8;
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply min-h-full;
    @apply opacity-0;
    @apply invisible;
    @apply z-30;
    @apply p-8;
    background: indianred;
}

.resume__sheet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, min-content);
    grid-template-areas: "name"
                         "experience"
                         "skill"
                         "project"
                         "education"
                         "award"
                         "contact";
    grid-gap: 1.6rem;
}

@media (min-width: 768px) {
    .resume__sheet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, min-content);
        grid-template-areas: "name contact"
                             "experience experience"
                             "skill skill"
                             "project project"
                             "education education"
                             "award award";
    }
}

.resume__name {
    grid-area: name;
    background-color: orange;
}

.resume__contact {
    grid-area: contact;
    background-color: yellow;
}

.resume__experience {
    grid-area: experience;
    background-color: green;
}

.resume__experience-history {
    @apply my-2;
}

@media (min-width: 768px) {
    .resume__experience-history {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "company location"
                             "position date"
                             "highlights highlights";
    }

    .resume__experience-header {
        grid-area: header;
    }

    .resume__experience-company {
        grid-area: company;
    }

    .resume__experience-position {
        grid-area: position;
    }

    .resume__experience-location {
        grid-area: location;
    }

    .resume__experience-date {
        grid-area: date;
    }

    .resume__experience-highlights {
        grid-area: highlights;
    }
}

.resume__skill {
    grid-area: skill;
    background-color: blue;
}

.resume__skill-item {
    @apply my-2;
}

.resume__skill-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.resume__project {
    grid-area: project;
    background-color: indigo;
}

.resume__project-item {
    @apply my-2;
}

.resume__project-keywords {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.resume__education {
    grid-area: education;
    background-color: violet;
}

.resume__award {
    grid-area: award;
    background-color: pink;
}

.resume__close {
    @apply absolute;
    @apply top-0;
    @apply right-0;
    @apply block;
    @apply m-8;
}

.resume__input:checked + .resume__page::before {
    transform: scale(12);
}

.resume__input:checked + .resume__page {
    @apply opacity-100;
    @apply visible;
}

.contact__input {
    @apply hidden;
}

.contact__page::before {
    @apply transition-8;
    @apply fixed;
    @apply top-0;
    border-radius: 50%;

    /**
     * TODO: Media query, swap vw to vh when max-height > max-width
     */
    width: 50vw;
    height: 50vw;

    background: radial-gradient(#f7b733, #fc4a1a);
    content: "";
    z-index: -1;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

.contact__page {
    @apply transition-8;
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    @apply opacity-0;
    @apply invisible;
    @apply z-10;
}

.contact__input:checked + .contact__page::before {
    transform: scale(12);
}

.contact__input:checked + .contact__page {
    @apply opacity-100;
    @apply visible;
}
