html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
}

.h-min-full {
	min-height: 100vh;
}

.h-full {
	height: 100vh;
}

.h-double {
	height: 200vh;
}

.h-min-min {
	min-height: 10vh;
}

#list-scroll > a {
	background: rgba(255, 255, 255, 0.4);
}

#list-contact-header,
#list-profile-header {
	background: rgba(255, 255, 255, 0.8);
}

#list-project-header {
	background: rgba(0, 0, 0, 0.8);
}

#list-project-header h3 {
	font-weight: bold;
}

.technologies div {
	border-radius: 50%;
	background-color: #00BB38;
	min-width: 50px;
	min-height: 50px;
}

.technologies i {
	font-size: 2rem;
	color: #fff;
}

#list-project h1 {
	color: #fff;
}

#list-project-header .title {
	border-top: 2px dashed #fff;
	border-bottom: 2px dashed #fff;
}

.title {
	border-top: 2px dashed #333;
	border-bottom: 2px dashed #333;
	transform: rotate(-45deg) translateY(45px) translateX(-45px);
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Monoton', cursive;
}

.list-group-custom {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}

.list-group-item.active {
	transition: 0.5s ease;
}

.img-custom-pointer {
	cursor: pointer;
}

.profile .icon {
}

.profile i {
	font-size: 2.5rem;
}

.socials {
	min-height: 100px;
}

.socials li {
}

.socials i {
	font-size: 2.5rem;
	border-radius: 50%;
	color: #333;
}

.socials i:hover {
	color: #f2f2f2;
	font-size: 2.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	transition: 0.1s ease-in;
}

.legals a,
.legals {
	text-decoration: none;
	color: #000;
}

/* cursor effects */

.ball {
  pointer-events: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {
    transform: scale(0);
  }
}

/* scroll direction */

.container-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 150px;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.chevron {
  z-index: 999;
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

.modal.fade .link-custom,
.modal.fade .link-custom:hover {
	text-decoration: none;
	color: #00BB38;
}

.img-me {
	background-image: url(../images/me.jpg);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 150px;
	min-width: 150px;
}

.img-me span {
	color: #fff;
	opacity: 0;
}

.img-me:hover {
	box-shadow: 0 0 16px 4px #a2a2a2;
}

.img-me:hover span,
.text-focus-in {
	opacity: 1;
	-webkit-animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-19 14:55:45
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

#about-me-modal {
	font-family: 'Ubuntu Mono', monospace;
}

.quotes {
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}

.quote {
	min-height: 90vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
