html {
	scroll-behavior: smooth;
}

body {
}

.h-min-full {
	min-height: 100vh;
}

.h-full {
	height: 100vh;
}

.h-double {
	height: 200vh;
}

.h-min-min {
	min-height: 10vh;
}

.title {
	/*
	transform: rotate(-45deg) translateY(-45px);
	*/
	transform: rotate(-45deg) translateY(45px) translateX(-45px);
	position: absolute;
	top: 0;
	left: 0;
}

.list-group-custom {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}

.socials {
	min-height: 40px;
}

.socials i{
	font-size: 2rem;
}
