<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="shortcut icon" type="image/ico" href="<%= require('../assets/images/favicon.ico') %>"/>

    <title><%= htmlWebpackPlugin.options.name %> | <%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<div class="container mx-auto sm:px-8 md:px-16 lg:px-32 xl:px-40 h-screen flex flex-col justify-between items-center">
    <header class="header w-64 h-16 text-center relative z-20">
        <label for="contact" class="cursor-pointer p-4">Reach Out</label>
    </header>

    <main class="self-stretch">
        <div class="md:h-full max-w-sm sm:max-w-full mx-auto sm:mx-0 sm:py-8 rounded-lg shadow-lg sm:flex sm:items-center">
            <div class="py-8 sm:px-8 sm:w-1/3 border-b-2 sm:border-b-0 sm:border-r-2">
                <div class="h-32 flex justify-center mb-8">
                    <img src="<%= require('../assets/images/300.jpg') %>" alt="avatar"
                         class="max-h-full object-contain rounded-full border-2">
                </div>
                <div class="text-center">
                    <p class="text-xl">Arvin Sevilla</p>
                    <p class="text-base">Software Engineer</p>
                    <label for="resume" class="text-base text-gray-700 m-2 p-2 hover:bg-red-700 hover:text-white rounded inline-block cursor-pointer transition-3">
                        Résumé
                    </label>
                </div>
            </div>
            <div class="md:h-full py-8 sm:flex-grow sm:flex sm:justify-around sm:items-center content-around">
                <ul class="md:h-full w-full flex flex-wrap text-center content-around">
                    <li class="w-1/2 py-4 cursor-pointer hover:bg-red-700 hover:text-white rounded transition-3"><a
                            href="#">Work</a>
                    </li>
                    <li class="w-1/2 py-4 cursor-pointer hover:bg-red-700 hover:text-white rounded transition-3"><a
                            href="#">Projects</a></li>
                    <li class="w-1/2 py-4 cursor-pointer hover:bg-red-700 hover:text-white rounded transition-3"><a
                            href="#">Skills</a></li>
                    <li class="w-1/2 py-4 cursor-pointer hover:bg-red-700 hover:text-white rounded transition-3"><a
                            href="#">Education</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="w-64 h-12">
        <a href="#" class="cursor-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 256 48">
                <polygon points="72 0, 184 0, 228 96, 28 96" fill="#e2e8f0" class="footer__box cursor-pointer"/>
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle"
                      class="fill-current text-gray-700 cursor-pointer">
                    Blog
                </text>
            </svg>
        </a>
    </footer>
</div>

<input id="resume" type="checkbox" class="resume__input">
<div class="resume__page">
    <div id="elm-resume"></div>

    <label for="resume" class="resume__close">X</label>
</div>

<input id="contact" type="checkbox" class="contact__input">
<div class="contact__page">
    TODO: Style contact details
</div>
</body>
</html>
